@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-title: "Poppins", sans-serif;
  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: #F8FAFC;
  color: #111827;
}

.dark body {
  background-color: #030712;
  color: #F9FAFB;
}